@model UserLoginModel
<!doctype html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Signin Template · Bootstrap v5.1</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/sign-in/">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="~/twitter-bootstrap/css/bootstrap.min.css" />
    <!-- Custom styles for this template -->
    <link href="/css/singin.css" rel="stylesheet">
</head>
<body class="text-center">

    <main class="form-signin">
        <form asp-action="Login" method="post">
            @*<img class="mb-4" src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">*@
            <h1 class="h3 mb-3 fw-normal">Giriş Yap</h1>
            <div class="text-danger mt-1" asp-validation-summary="ModelOnly">

            </div>

            <div class="form-floating">
                <input asp-for="@Model.UserName" class="form-control" placeholder="Kullanıcı Adınız" required autofocus>
                <label for="UserName">
                    Kullanıcı Adı
                    <span asp-validation-for="@Model.UserName" class="text-danger"></span>
                </label>
            </div>
            <div class="form-floating">
                <input asp-for="@Model.Password" type="password" class="form-control" placeholder="Şifreniz" required>
                <label for="Password">Şifre</label>
            </div>

            <div class="checkbox mb-3">
                <label>
                    <input asp-for="@Model.RememberMe" type="checkbox"> Beni Hatırla
                </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Giriş Yap</button>

        </form>
    </main>



</body>
</html>
