@model SocialMediaIconAddDto
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<form asp-action="Add" asp-controller="SocialMediaIcon" asp-area="Admin" method="post">
    <div class="form-group">
        <label>İkon : </label><span asp-validation-for="@Model.Icon" class="text-danger"></span>
        <input asp-for="@Model.Icon" class="form-control" />
    </div>
    <div class="form-group">
        <label>Web Adresi : </label><span asp-validation-for="@Model.Link" class="text-danger"></span>
        <input asp-for="@Model.Link" class="form-control" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary mt-2">Ekle</button>
    </div>
</form>
